<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2019, California Institute of Technology ("Caltech").
  U.S. Government sponsorship acknowledged.
  
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met:
  
  * Redistributions of source code must retain the above copyright notice,
  this list of conditions and the following disclaimer.
  * Redistributions must reproduce the above copyright notice, this list of
  conditions and the following disclaimer in the documentation and/or other
  materials provided with the distribution.
  * Neither the name of Caltech nor its operating division, the Jet Propulsion
  Laboratory, nor the names of its contributors may be used to endorse or
  promote products derived from this software without specific prior written
  permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
  ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
  LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
  CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
  SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
  INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
  CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
  POSSIBILITY OF SUCH DAMAGE.
-->

<document>
<properties>
  <title>Operation</title>
</properties>

<body>

<section name="Operation Overview">
<p>
The high level architecture of PDS Registry and its main components is shown below.
</p>
<img src="/images/registry-harvest.jpg" width="35%" />

<p>
<ul>
<li><b>Apache Solr</b> is used to store registry data.</li>
<li><b>Registry Manager</b> tool is designed to load, delete and export registry data. 
Also, it can be used to create and delete PDS registry collection(s) from Solr.</li>
<li><b>Harvest</b> is a tool to crawl and extract metadata from PDS4 files.
Extracted metadata is stored in an "intermediate" XML format. 
This intermediate data can be loaded into the Registry by Registry Manager or Solr post tool.</li>
</ul>
</p>
</section>

<!-- ======================================================== -->

<section name="Common Operations">
<p>
The following table lists common operations and available tools.
</p>

<table>
<tr><th>Operation</th><th>Tool</th></tr>
<tr><td>Crawl PDS4 products to extract some metadata</td><td>Harvest</td></tr>
<tr><td>Create or delete registry collection(s) in Apache Solr</td><td>Registry Manager, Solr and ZooKeeper command-line tools, Solr admin UI, Solr API</td></tr>
<tr><td>Load metadata created by Harvest into the Registry (Solr)</td><td>Registry Manager, Solr post tool, Solr API</td></tr>
<tr><td>Delete some or all metadata from the Registry</td><td>Registry Manager, Solr admin UI, Solr API</td></tr>
<tr><td>Export a file from Registry BLOB storage</td><td>Registry Manager</td></tr>
</table>

</section>

<!-- ======================================================== -->

<section name="Harvest">
</section>

<!-- ======================================================== -->

<section name="Registry Manager">
<p>
See <a href="/operate/reg-manager.html">Registry Manager Operation</a> section for more information.
</p>
</section>

</body>
</document>
