<?xml version="1.0" encoding="UTF-8"?>

<document>
<properties>
  <title>Registry Collection</title>
</properties>

<body>

<section name="Registry Collection">
</section>

</body>
</document>
