<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright 2019, California Institute of Technology ("Caltech").
  U.S. Government sponsorship acknowledged.
  
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met:
  
  * Redistributions of source code must retain the above copyright notice,
  this list of conditions and the following disclaimer.
  * Redistributions must reproduce the above copyright notice, this list of
  conditions and the following disclaimer in the documentation and/or other
  materials provided with the distribution.
  * Neither the name of Caltech nor its operating division, the Jet Propulsion
  Laboratory, nor the names of its contributors may be used to endorse or
  promote products derived from this software without specific prior written
  permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
  ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
  LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
  CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
  SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
  INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
  CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
  POSSIBILITY OF SUCH DAMAGE.
-->

<document>
  <properties>
    <title>Registry Manager Operation</title>
    <author email="Jordan.Padams@jpl.nasa.gov">Jordan Padams</author>
  </properties>

<body>
<section name="Registry Manager Overview">

<p>
Registry Manager is a command-line tool which can perform following tasks:
<ul>
  <li>Create and delete registry collection.</li>
  <li>Load Solr documents generated by Harvest tool into registry collection.</li>
  <li>Delete data from registry collection by lidvid, lid, package id.</li>
  <li>Export files from registry BLOB storage.</li>
</ul>
</p>

<p>
Registry Manager executable scripts for Windows (<i>registry-manager.bat</i>) and Linux / Mac (<i>registry-manager</i>) 
are located in <i>bin</i> sub-folder of the installation directory (e.g., <i>/home/pds/registry/</i>).
</p>

<p>
To see a list of Registry Manager commands and usage information, run <i>registry-manager</i> without any parameters.
To print command-specific usage information, pass <i>-help</i> parameter after any command, for example,
</p>
<source>
registry-manager load-data -help
</source>

</section>

<!-- ===================================================== -->

<section name="Solr or ZooKeeper Connection">

<p>
To execute commands, Registry Manager has to connect to either ZooKeeper cluster or a Solr server node.
By default it connects to:
<ul>
  <li>Embedded ZooKeeper bundled with Solr at <i>localhost:9983</i> for <i>create-registry</i> and <i>delete-registry</i> commands,</li>
  <li>Solr node at <i>http://localhost:8983/solr</i> for other commands.</li>
</ul>
</p>

<p>
To customize this behavior use <i>-solrUrl</i> or <i>-zkHost</i> parameters.
</p>
</section>

<!-- ===================================================== -->

<section name="Commands">

<subsection name="Create or Delete Registry Collection">
<p>
These commands are described in <a href="/install/registry.html">Registry Installation</a> section.
</p>
</subsection>

<subsection name="Load Data">
<p>
To bulk-load Solr documents generated by Harvest tool, use load-data command:
</p>
<source>
registry-manager load-data -filePath /home/pds/harvest/solr/solr-docs.xml
</source>

</subsection>

<subsection name="Delete Data">
<p>
You can delete documents from Registry by lidvid, lid or package id (Harvest run id). 
You can also delete all documents.
</p>
<source>
registry-manager delete-data -lidvid urn:nasa:pds:context:target:asteroid.4_vesta::1.1
registry-manager delete-data -lid urn:nasa:pds:context:target:asteroid.4_vesta
registry-manager delete-data -packageId 8d8ae96d-044e-473d-a278-62635b1c5977
registry-manager delete-data -all
</source>

</subsection>

<subsection name="Export File">
<p>
To export a file from embedded BLOB storage by lidvid, run the following command:
</p>
</subsection>
<source>
registry-manager export-file -lidvid urn:nasa:pds:context:target:asteroid.4_vesta::1.1 -filePath /tmp/4_vesta.xml
</source>
<p>
This command will only work, if file BLOBs were generated by Harvest.
</p>

</section>



</body>
</document>
